<!-- templates/autenticad/dashboard.html -->
{% extends 'dashbase.html' %}

{% block content %}

<div class="row">
    <div class="col-md-5 col-12 bg-secondary mb-3">

        <!-- perfil -->
        <br>
        <div class="row align-items-center">
            <div class="col-4 col-md-4 text-center d-flex justify-content-center">
                {% if user.avatar %}
                <img src="{{ user.avatar.url }}" alt="Avatar" style="width: 100%; max-width: 150px; height: auto;">
                {% else %}
                    <p>Este usuário ainda não possui avatar.</p>
                {% endif %}
            </div>
            <div class="col-8 col-md-8 bg-secondary d-flex flex-column">
                <div class="col text-light">
                    <h6 class="monospace">
                        <dl>
                            <dt>Nome:</dt>
                            <dd>{{ user.nickname|default:"Informação ainda não cadastrada" }}</dd>
                            <dt>Cidade:</dt>
                            <dd>{{ user.city|default:"Informação ainda não cadastrada" }}</dd>
                            <dt>Estado:</dt>
                            <dd>{{ user.state|default:"Informação ainda não cadastrada" }}</dd>
                        </dl>
                    </h6>
                </div>
                <div class="row text-center mt-2">
                    <a href="{% url 'profilegs:profilegs' %}" class="btn btn-warning btn-lg">Ver Perfil Completo</a>
                </div>
            </div>
        </div><br>

    </div>

</div>

<br>

<!-- conteudo da jumbotron dashboard -->
<div class="jumbotron">

    <!-- Exibir galerias que o usuário pode acessar -->
    <!-- titulo pagina -->
    <div class="container-fluid bg-dark text-center font-weight-bolder text-light">
        <br><h4><dt>Minhas galerias disponíveis:</dt></h4><br>
    </div>
    <br>
    <!-- galerias disponiveis -->
    <div class="row gx-3 gy-4 justify-content-center"> <!-- Espaço reduzido entre colunas -->
        {% for gallery in user_galleries %}
            {% if gallery.level <= user.user_level %}
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4"> <!-- Ajustando tamanhos para melhor alinhamento -->
                    <div class="card shadow-sm">
                        <div class="card-body text-center">
                            <h5 class="card-title bg-info text-center text-light p-1">
                                {{ gallery.title }}
                            </h5>
                            <p class="card-text bg-light text-left" style="padding: 10px 10px; min-height: 100px;">
                                {{ gallery.description }}
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="{% url 'reposit_n1:gallery_detail' gallery.id %}" class="btn btn-primary">
                                Ver Galeria
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% empty %}
            <p>Você não tem acesso a nenhuma galeria no momento.</p>
        {% endfor %}
    </div> 
        
</div>
<!-- fim conteudo da jumbotron dashboard -->

<!-- Campo de pesquisa de galerias -->
<div class="container-fluid bg-warning mt-0 text-center my-auto mx-auto p-1">
    <h6>Não encontrou o que deseja ou quer ir mais direto?</h6>
    <form method="GET" action="{% url 'dashboard' %}" class="mb-4">
        <div class="form-row">
            <div class="col-md-3">
                <input type="text" name="search" class="form-control" 
                    placeholder="Buscar por nome da galeria..." value="{{ request.GET.search }}">
            </div>
            <div class="col-md-3">
                <input type="date" name="date" class="form-control" value="{{ request.GET.date }}">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Pesquisar</button>
            </div>
        </div>
    </form>
</div>
<!-- fim Campo de pesquisa de galerias -->

{% endblock %}
