<!-- templates/includes/menu.html -->

<div class="menuprincipal">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="{% url 'home' %}">HOME</a> <!-- pode colocar logo ou ppag inicial -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <!-- inicio links menu -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Link 1</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <form action="{% url 'logout' %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="nav-link" style="background: none; border: none; color: white; cursor: pointer;">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Cadastrar</a> <!-- Link para a página de registro -->
                    </li>
                {% endif %}
                <!-- fim links menu -->    
            </ul>
        </div>  
    </nav>
</div>
