<!-- reposit/templates/reposit/gallery_list.html -->

{% extends 'dashbase.html' %}

{% block content %}

<!--conteudo da jumbotrom gallery_list-->
<div class="jumbotron">

  <!-- titulo pagina -->
  <div class="conteiner-fluid bg-primary text-center font-weight-bolder text-warning">
    <br><h4><dt>Lista por ano:</dt></h4><br>
  </div>
  <br>
  <!-- lista dos anos -->
  <ul>
    {% for year in page_obj %}
      <li>
        <a href="{% url 'reposit_n1:gallery_by_year' year=year.year %}">
          {{ year.year }}
        </a>
      </li>
    {% empty %}
      <li>Nenhuma galeria encontrada.</li>
    {% endfor %}
  </ul>

</div>
<!--fim conteudo da jumbotrom gallery_list-->

<!-- paginação dos anos -->
<div class="container">
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; Primeira</a>
        <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
      {% endif %}
  
      <span class="current">
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
      </span>
  
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
      {% endif %}
    </span>
  </div>
</div>







{% endblock %}