<!-- reposit/templates/reposit/gallery_by_year.html -->

{% extends 'dashbase.html' %}

{% block content %}
<h1>Galerias do Ano {{ year }}</h1>

<!-- Paginação das galerias do ano -->
<ul>
  {% for gallery in page_obj %}
    <li>
      <a href="{% url 'reposit_n1:gallery_detail' gallery_id=gallery.id %}">
        {{ gallery.title }} - {{ gallery.event_date }}
      </a>
    </li>
  {% empty %}
    <li>Nenhuma galeria encontrada para este ano.</li>
  {% endfor %}
</ul>

<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; Primeira</a>
      <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
    {% endif %}

    <span class="current">
      Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
    {% endif %}
  </span>
</div>

<a href="{% url 'reposit_n1:gallery_list' %}">Voltar para Anos</a>
{% endblock %}
