<!-- reposit/templates/reposit/gallery_detail.html -->

{% extends 'dashbase.html' %}

{% block content %}
<h1>{{ gallery.title }}</h1>
<p>Data do evento: {{ gallery.event_date }}</p>
<p>{{ gallery.description }}</p>
<p>Total de likes: {{ gallery.total_likes }}</p>

<h2>Galeria</h2>
<div class="row gallery-images">
    {% for image in gallery.images.all %}
        <div class="col-6 col-md-4 col-lg-3">  {# 6 colunas em telas pequenas, 4 em médias e 3 em grandes #}
            <div class="image-card">
                <a href="{{ image.image.url }}" data-lightbox="gallery" data-title="{{ image.title }}">
                    <img src="{{ image.image.url }}" alt="{{ image.title }}" class="img-fluid">  {# img-fluid para responsividade #}
                </a>
                <button class="like-button btn btn-light" data-image-id="{{ image.id }}">Like</button>
                <span id="likes-count-{{ image.id }}">{{ image.likes }}</span> likes
            </div>
        </div>
    {% endfor %}
</div>

<h2>Comentários</h2>
<div class="comments-section">
    {% for comment in gallery.comments.all %}
        <div class="comment">
            <p>{{ comment.user.username }}: {{ comment.content }}</p>
        </div>
    {% endfor %}
</div>

<!-- Formulário de comentários -->
<form method="POST">
    {% csrf_token %}
    <textarea name="comment" placeholder="Deixe seu comentário" class="form-control mb-2"></textarea>
    <button type="submit" class="btn btn-primary">Comentar</button>
</form>

{% endblock %}

{% block extra_js %}
    <script>
        const csrftoken = '{{ csrf_token }}';  // Pega o token no template Django
        // Adicione seu código JavaScript aqui
    </script>
{% endblock %}
